$fresh: #f7ef6a !default;
$vermillion: #93c178 !default;
$sunshine: #465c8b !default;
$clean: #dfdce3 !default;

$base-1: $fresh !default;
$base-2: $vermillion !default;
$base-3: $sunshine !default;
$body-color: $clean !default;
